*{
	box-sizing: border-box;
	font-family:sans-serif;
}

h1{
	text-align: center;
}
h2{
		float: right;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;
		border: 1px solid black;
		background-color: brown;
	}
	.container{
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	

.container > div > div >div{
		clear: right;
		padding: 10px;
	}
	
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;
		
	}
	.container > div > div{
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid black;
		background-color: grey;
	}
	
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6{
		float: left;
		width: 50%;
		
	}
	.col-md-12{
		float: left;
		width: 100%;
		clear: both;
		margin-top: 2.5%;
	}
	.col-md-6 > div{
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid black;
		background-color: grey;
	}
	.col-md-12 > div{
		max-width: 97.5%;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid black;
		background-color: grey;
	}
	
	
	
}
@media (max-width: 767px){
	.col-sm-12{
		float: left;
		width: 100;
		margin-bottom: 2.5%;
		
	}
	.container > div > div{
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid black;
		background-color: grey;
	}
	
	
	
}
